<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Position</key>
		<string>QRCode.PupilShape.Shield.png</string>
		<key>Shape</key>
		<string>data_grid3x3</string>
		<key>Pupil</key>
		<string>data_grid3x3</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>0,163,76</string>
		<key>shapeColor</key>
		<string>0,184,148</string>
		<key>pupilColor</key>
		<string>246,134,75</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>-1</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.EyeShape.Leaf.png</string>
		<key>Shape</key>
		<string>data_heart</string>
		<key>Pupil</key>
		<string>data_heart</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>&quot;&quot;</string>
		<key>shapeColor</key>
		<string>143,99,86</string>
		<key>pupilColor</key>
		<string>&quot;&quot;</string>
		<key>eyegradient</key>
		<string>43</string>
		<key>shapegradient</key>
		<string>-1</string>
		<key>pupilgradient</key>
		<string>40</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>eye_ufoRounded.png</string>
		<key>Shape</key>
		<string>data_wave</string>
		<key>Pupil</key>
		<string>data_wave</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>0,184,148</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>91,189,118</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>38</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>eye_edges</string>
		<key>Shape</key>
		<string>data_diagonal</string>
		<key>Pupil</key>
		<string>data_diagonal</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>0,184,148</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>118,200,147</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>12</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>eye_dotDragHorizontal.png</string>
		<key>Shape</key>
		<string>data_wave.png</string>
		<key>Pupil</key>
		<string>data_wave.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>255,133,161</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>143,120,107</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>26</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>eye_roundedPointingOut.png</string>
		<key>Shape</key>
		<string>data_star.png</string>
		<key>Pupil</key>
		<string>data_star.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>178,112,255</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>106,95,170</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>36</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.EyeShape.CorneredPixels.png</string>
		<key>Shape</key>
		<string>data_pointy.png</string>
		<key>Pupil</key>
		<string>data_pointy.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>&quot;&quot;</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>143,120,107</string>
		<key>eyegradient</key>
		<string>42</string>
		<key>shapegradient</key>
		<string>32</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.EyeShape.Circle.png</string>
		<key>Shape</key>
		<string>data_wex.png</string>
		<key>Pupil</key>
		<string>data_wex.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>248,176,17</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>255,107,107</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>41</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>eye_ufoRounded.png</string>
		<key>Shape</key>
		<string>data_shiny</string>
		<key>Pupil</key>
		<string>data_shiny</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>255,94,91</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>143,120,107</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>4</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.PupilShape.Shield.png</string>
		<key>Shape</key>
		<string>data_donut.png</string>
		<key>Pupil</key>
		<string>data_donut.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>0,163,76</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>91,189,118</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>36</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.EyeShape.RoundedPointingIn.png</string>
		<key>Shape</key>
		<string>data_grid4x4.png</string>
		<key>Pupil</key>
		<string>data_grid4x4.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>246,134,75</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>231,96,44</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>26</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.PupilShape.Shield.png</string>
		<key>Shape</key>
		<string>data_wex.png</string>
		<key>Pupil</key>
		<string>data_wex.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>178,112,255</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>106,95,170</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>11</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>eye_explode.png</string>
		<key>Shape</key>
		<string>data_donut.png</string>
		<key>Pupil</key>
		<string>data_donut.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>210,29,141</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>238,88,144</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>42</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.EyeShape.Leaf.png</string>
		<key>Shape</key>
		<string>data_grid3x3.png</string>
		<key>Pupil</key>
		<string>data_grid3x3.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>145,191,64</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>1,172,132</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>19</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.EyeShape.Squircle.png</string>
		<key>Shape</key>
		<string>data_grid3x3</string>
		<key>Pupil</key>
		<string>data_grid3x3</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>&quot;&quot;</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>&quot;&quot;</string>
		<key>eyegradient</key>
		<string>2</string>
		<key>shapegradient</key>
		<string>2</string>
		<key>pupilgradient</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>eye_spikyCircle.png</string>
		<key>Shape</key>
		<string>data_shiny.png</string>
		<key>Pupil</key>
		<string>data_shiny.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>234,93,154</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>255,133,161</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>41</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.PupilShape.Shield.png</string>
		<key>Shape</key>
		<string>data_shiny.png</string>
		<key>Pupil</key>
		<string>data_shiny.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>121,141,113</string>
		<key>shapeColor</key>
		<string>191,191,191</string>
		<key>pupilColor</key>
		<string>143,120,107</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>-1</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>eye_teardrop.png</string>
		<key>Shape</key>
		<string>data_grid3x3</string>
		<key>Pupil</key>
		<string>data_grid3x3</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>1,116,193</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>160,196,255</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>61</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>eye_roundedPointingOut.png</string>
		<key>Shape</key>
		<string>data_shiny.png</string>
		<key>Pupil</key>
		<string>data_shiny.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>91,189,118</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string> 0,163,76</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>33</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.PupilShape.Shield.png</string>
		<key>Shape</key>
		<string>data_koala.png</string>
		<key>Pupil</key>
		<string>data_koala.png</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>231,96,44</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>246,134,75</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>49</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Position</key>
		<string>QRCode.EyeShape.CorneredPixels.png</string>
		<key>Shape</key>
		<string>data_shiny</string>
		<key>Pupil</key>
		<string>data_shiny</string>
		<key>BackgroundColor</key>
		<string>255,255,255</string>
		<key>eyeColor</key>
		<string>255,107,107</string>
		<key>shapeColor</key>
		<string>&quot;&quot;</string>
		<key>pupilColor</key>
		<string>246,134,75</string>
		<key>eyegradient</key>
		<string>-1</string>
		<key>shapegradient</key>
		<string>34</string>
		<key>pupilgradient</key>
		<string>-1</string>
	</dict>
</array>
</plist>
