<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Trending</string>
	<string>Social Media</string>
	<string>Business</string>
	<string>Love</string>
	<string>Wifi</string>
	<string>Event</string>
	<string>Holiday</string>
</array>
</plist>
